@model ListAssist.Data.Models.LAList

@{
    ViewBag.Title = "Delete List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeader {Delete!}


<div class="row">
    <div class="small-12 columns">
        <h3>Are you sure you want to delete this?</h3>
        <dl>
            <dt>@Html.DisplayNameFor(model => model.Name)</dt>
            <dd>@Html.DisplayFor(model => model.Name)</dd>
        </dl>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="small-12 columns">
            <button type="submit" class="button warning">Delete</button>
        </div>
    </div>
}
